[2016-04-02 13:09] juban opened #1 "Setting a relation to null should not create a new model instance"
If a relation is explicitly set to null, a new empty model instance is created.
Model relation should be unset instead.

[2016-04-02 14:58] #1 closed

[2016-04-02 17:06] juban opened #2 "hasMany relations with no pivot table are not saved correctly"
For hasMany relations not using a junction table with via() method, records are not saved during the beforeValidate event if the foreign key is set as 'NOT NULL'.
These kind of record should be saved during the afterSave event of the owner model.

[2016-04-03 09:47] #2 closed

[2016-04-05 08:06] juban opened #3 "Specify the validation scenario for related records"

[2016-04-05 08:09] juban opened #4 "Batch load relations data"
Either by overriding the load() method or adding a loadWithRelations() method

[2016-04-05 20:03] juban opened #5 "Delete related records on afterDelete event"

[2016-04-20 13:27] juban opened #6 "Transaction object may not be defined"
The transaction object may not be defined if an exception occurs in the _saveRelatedRecords method and no transactions are declared in the owner model.

[2016-04-20 13:28] juban commented on #6
Fixed by commit 3b6684eebc94daac1f1a348f036bd45ad3918e56

[2016-04-20 13:28] #6 closed

[2016-04-20 13:28] juban commented on #6
@maxime-colin Thx ;)

[2016-08-13 00:59] mrfinrod opened #8 "No SaveRelationsTrait.php file"
There is no SaveRelationsTrait.php file, when I install this extension throw composer.
"src" folder contains only SaveRelationsBehavior.php

[2016-08-13 01:03] mrfinrod opened #9 "Sort related models"
It will be great if related models will be sorted and user can swap the related models

[2016-09-03 11:50] juban commented on #8
SaveRelations Trait is not a stable feature yet and will be part of the upcoming release.
You will have to change your composer dependency configuration to install the unstable "master" version.

[2016-09-03 11:50] #8 closed

[2016-09-03 11:53] juban commented on #9
As far as I understand what you're suggesting, you can sort your relations in their model declaration using standard Yii2 relation feature. No need for additional feature I think.

[2016-11-10 12:16] #9 closed

[2016-11-14 11:15] loveorigami opened #11 "How Save hasOne relation from InputForm"
I have
[code]

and form

[code]
In ProjectController I see
[code]

Company name not saved in my controller.

[2016-11-15 08:41] loveorigami commented on #11
sorry, I have $_POST[Project][company][text] required Attribute.

Now it work fine

[2016-11-15 08:41] #11 closed

[2016-11-26 14:03] juban commented on #4
Implemented in 1.1.0 release

[2016-11-26 14:03] #4 closed

[2016-11-26 20:48] magicaner opened #12 "Nesting level too deep – recursive dependency error during object comparing"
It happens at afterSave, when it compareing 2 active recrods.
right there:
https://github.com/la-haute-societe/yii2-save-relations-behavior/blob/master/src/SaveRelationsBehavior.php#L315

the problem described here: http://www.php.net/manual/en/language.oop5.object-comparison.php

can you use === operator here instead of == ?

[2016-11-27 15:39] juban commented on #12
Thanks for your report.

[2016-11-27 17:15] juban commented on #12
@magicaner Could you provide any use case or example of that issue? Thx.

[2016-11-27 19:34] magicaner commented on #12
i am trying to repeat the error, but cant for some reason. not sure how to repeat the error. but i got those errors multiple times.
here people talking about similar problem:
http://stackoverflow.com/questions/3834791/fatal-error-nesting-level-too-deep-recursive-dependency#answer-19097159

[2016-11-27 20:10] magicaner commented on #12
i was able to repeat it. it happens if all following cases are true:
1. previous and new value is not empty
2. related model for old and new value are exists
3. relation type is "hasOne"

[2016-11-28 06:47] juban commented on #12
@magicaner Yes, I figured that out already.
But the scenario you are suggesting is not enough to trigger the issue.
There must be some cross-reference relations affecting the behavior.
Don't get me wrong, I'm not saying there is no issue here (I will definitely fix that), but I'm struggling to find a proper model setup to reproduce that.
Could you give me (even partially) your models definitions i

[2016-11-28 08:05] juban commented on #12
@magicaner OK, never mind, I found a way to reproduce the issue.
Bug will be fixed in an upcoming release.
Thanks again.

[2016-11-28 08:22] juban commented on #12
Fixed with 49cae2c76bfe3c112b275b3c0f25b01a27e489f1

[2016-11-28 08:22] #12 closed

[2017-03-04 15:15] juban opened #13 "Relations as array are inserted then deleted instead of being updated"
If the relation is given as array and not involved in a junction table, related records are are inserted then deleted instead of being updated.

[2017-03-04 15:29] #13 closed

[2017-06-07 10:57] sspat opened #15 "Allow saving extra columns to junction table"
Currently it the behavior code it is hard coded that the yii\db\BaseActiveRecord->link method is called without a possible third parameter.

The third parameter is used for passing additional columns data to be saved to the junction table in a many-to-many relationship through a junction table.
http://www.yiiframework.com/doc-2.0/yii-db-baseactiverecord.html#link()-detail

It would be nice if the

[2017-07-18 06:52] mythicallage opened #17 "Could it possible to add exception logging into saveRelatedRecords function?"
Could it possible to add exception logging into saveRelatedRecords function?

If you catch [yii\db\Exception] PDOException, you will not find any information about it.
Further, \yii\db\ActiveRecord->getErrors() will not return any error.

[2017-07-18 09:28] juban commented on #17
Yes, you are right, it could totally be useful in a debugging context.
I'm thinking of adding a Yii:warning() log specifying the exception class name and message.
What do you think ?

[2017-07-19 19:02] mythicallage commented on #17
In my opinion, it looks pretty good. I don't see any better way to fix it. Thank you so much.

[2017-07-20 09:43] juban commented on #17
I have pushed an updated version of the saveRelatedRecords method into the master branch.
Could you test it and let me know if you have any issue?
Thanks.

[2017-07-26 07:35] boryashkin opened #18 "Separation of validation and saving does unique validation not possible"
When i save a model with "hasMany" relation it does validate each of relations from an array and then saving them with `->save(false)`. But i have the unique validation rule in relation model, which shouldn't let it save both of them in this example:

[code]

Logs:
------
1. SELECT CASE WHEN EXISTS(SELECT * FROM relation WHERE uniqueField = 1) THEN 1 ELSE 0 END FROM DUAL; /* validation of ex1 */
2

[2017-07-26 18:42] mythicallage commented on #17
Thank you. It was useful to find my mistake.

I was looking for improvements to save related models, but it is not as easy as I wanted. The main problem is that how to define an independent model and save it to avoid double saving attempts. I can't see any hint in \yii\db\BaseActiveRecord::getRelation, \yii\db\BaseActiveRecord::link.

e. g.
MainActiveRecord hasOne SubordinateActiveRecord.
Primary

[2017-08-03 06:44] boryashkin commented on #18
It could be solved by a custom rule for the 'relation' array though

[code]

[2017-08-03 12:03] juban commented on #18
Hi,

I understand the issue, but the workaround eludes me.
Could you elaborate a bit more please?

Thanks.

[2017-08-05 09:15] boryashkin commented on #18
It could be a filter:
[code]
or a validator:

[code]

It may even be better than going to a DB for a constraint error

[2017-10-12 14:51] juban commented on #18
In the upcoming 1.3.0 release due shortly, related models will be also validated during the `afterSave` event. If any validation occurs (or database related error), a `yii\db\Exception` will be thrown and an error message will be attached to the relation attribute of the owner model. A rollback will automatically be applied in that case (if relevant). Also, the behavior will log a warning in these

[2017-10-12 14:51] #18 closed

[2017-10-12 14:56] juban commented on #17
Upcoming 1.3.0 release will hopefully cover that more gracefully.
Your feedback is appreciated.

[2017-10-12 14:56] #17 closed

[2017-10-12 16:10] #3 closed

[2017-10-29 19:46] mythicallage opened #22 "Some issue with one-to-one relationship"
Thank you for your useful extension. I would like to give you feedback to enhance your extension. Version is **1.3.1**.

I have some issue with saving new models Dummy and DummyBrother if I try to save with validation. There will be an SQL error anyway. Saving Dummy and DummyMany models works fine.

I have to save Dummy model without validation. It works if I do only like that.

I would be gratefu

[2017-10-30 13:17] juban commented on #22
Hi,

Could you provide your models definitions, specially the relations part please?

Thanks.

[2017-10-30 18:15] mythicallage commented on #22
Hi,
Sure, here it is.

[code]

[2017-11-02 12:56] juban commented on #22
Hi @mythicallage

I have pushed fixes to the master branch that should fix the issue.
Could you tell me is that works for you?

Thanks.

[2017-11-02 17:43] mythicallage commented on #22
Hi @juban ,

I am sorry It does not work still, but probably I found a solution to fix the issue. I have added only one condition. It starts with the line "//It needs for excluding scenario like".
If it will not pass the tests, please let me know.

Thanks.

[code]

[2017-11-03 09:07] juban commented on #22
OK. Seems a pretty good fix (better than mine anyway ;) )
Tests are OK but I'll have to add a new one to cover your exact use case.
I'll release a 1.3.2 release soon.
Thank you for your contribution.

[2017-11-06 11:15] sem-soft commented on #22
@juban and what about save recursivly childs relations? For example, if main model have child relations and child relations have relations for save too? In my case, i have errors if i try to validate main model, beciuse in beforeValidation you do saving children models. Did you test with case? Thank U for answer!

[2017-11-06 11:46] mythicallage commented on #22
Hi, @sem-soft.

Could you please clarify the relationship between the main model and the children?

[2017-11-06 12:03] juban commented on #22
Hi @sem-soft,

Could you open a new issue and provide your use case scenario along with models definitions please?

Thanks.

[2017-11-06 12:05] sem-soft commented on #22
Hi, @mythicallage. Yes, shure! MainModel has many ChildModel, ChildModel has one SubChildModel. And when I tried to save MainModel AR-instance, i've got an error.

Hi, @juban,
l will do this.

Thx.

[2017-11-06 13:36] sem-soft opened #23 "Deep nesting relations saving"
# Wrong saving a nested relations with one main.

## Models relations example.
Main has many Child, Child has one SubChild.

[code]
[code]

[code]
## Save Main model instance
[code]
## Trouble
In this case relations must saves recursively, but in beforeValidate behavior method raises exception:

[code]
Foreign key value not append to insert query. This error appears in saving with validation. If s

[2017-11-06 17:52] mythicallage commented on #23
Hi, @sem-soft .

Could you provide your table definitions, specially the foreign key part please?

[2017-11-06 18:01] sem-soft commented on #23
Hi, @mythicallage. Here is
[code]

[2017-11-06 18:31] mythicallage commented on #23
Hi @sem-soft .

I am sorry to inform you that I did not reproduce the bug. I used the extension version 1.3.2 and  above-mentioned definition from you, the code and tables.

In my opinion, The main problem is here:

[2017-11-06 18:59] sem-soft commented on #23
@mythicallage, can you show your code please?

[2017-11-06 19:08] sem-soft commented on #23
This error is an consequence of bad sub_child data insertion.
Thx

[2017-11-06 19:09] mythicallage commented on #23
Sure, you're welcome.

I use PHP 7.1

[code]

[2017-11-06 19:35] sem-soft commented on #23
@mythicallage, i'm using PHP 5.6, lastest Yii2 and lastest yii2-save-relations-behavior.

[2017-11-07 11:19] sem-soft commented on #23
@mythicallage look at my relation:
[code]
I'm specially change default gii code from hasMany to hasOne. I have the right to do this for my logic case.
Please, change your relation type to hasOne and try tests.
[code]

[2017-11-07 13:45] sem-soft commented on #23
@juban @mythicallage if you need direct code and direct samples, i can model this. My previous code is pseudo and may have some issues. But first @mythicallage change relation type for getSubChildren to hasOne.

Thanks, Guys!!!!

[2017-11-07 16:28] juban commented on #23
@sem-soft
From what I could experiment using your models definitions, things are working as expected as long as transactions are disabled for the related models (child), no matter what relation type is used.
I guess there's an issue in the way transactions are started from the owner model.
I will investigate that as soon as possible.

[2017-11-07 17:37] sem-soft commented on #23
Hi, @juban.
Here is a direct code of models, controller action and DB structure. I was reproduce this problem.

## Db Migration
[code]
## ActiveRecord models with static constructors
[code]
[code]

[code]
## Controller action with example to execute saving
[code]

Please, try code above to reproduce error.

Thanks for your attention to this problem.

[2017-11-09 12:46] juban commented on #23
Hi @sem-soft

I'm sorry to say I still can't reproduce your specific error, even using the code you provided. However, I was able to reproduce the transaction related error mentioned by @mythicallage.
I have pushed a fix to the dev-master branch which should fix the issue.
Could you try again using the latest unstable commit (3409c652b3) please and let me know if your issue is fixed?

Thanks.

[2017-11-09 12:50] sem-soft commented on #23
Hi, @juban. Please show me your models code. I will try using unstable branch.

[2017-11-09 13:13] sem-soft commented on #23
Dear @juban.
[code]

With unstable repo have the same error. Please, show me your code which you using to reproduce my "specific" error.

@mythicallage copy-paste my code with errors and can't reproduce error too..

Thanks

[2017-11-09 13:18] sem-soft commented on #23
@juban Yes, the next error about inactive transaction was fixed in [3409c65](https://github.com/la-haute-societe/yii2-save-relations-behavior/commit/3409c652b3a48b9be86d8ea4355d58d0cd60b507). But my error is not)

[2017-11-09 14:40] juban commented on #23
@sem-soft
Well, I'm puzzled. I'm using the **exact** same code as the one you provided here (migration and models). I've copy-pasted everything twice to be sure. Still no errors except for transactions which is fixed now.
In a way, your error makes sense because the child_id should not be null. In your case, if that's an option, I would set the child_id to allow null value to be able to save the r

[2017-11-09 14:44] sem-soft commented on #23
@juban did you look in log-file? Because exception not raised direct (you catch it in try section and Yii::trace) and all records are saving in DB now, but in log-file appears record.

Thank U

[2017-11-09 17:26] juban commented on #23
@sem-soft Got it! Was able to workaround the issue by setting field child_id as null in DB definition. However, the behavior should have raised an exception. I will try to figure out a way to handle that properly. Thanks.

[2017-11-09 19:25] sem-soft commented on #23
@juban Great! Take a look at my previous records about that. If we use hasMany relation (as gii generated by default for db tables relation) type there is not error raised. But if U change type to hasOne.... I think the point at this...

Thanks, i'l be wait for solution.

[2017-11-10 13:49] juban commented on #23
@sem-soft The SQL error is now handled and the saving of the main model will return false on errors during the saving of nested models. I'm working to solve a related issue because in your use case, we should be able to save the related record anyway.

[2017-11-10 14:02] sem-soft commented on #23
@juban Nice work! Thx!

[2017-11-11 14:42] juban commented on #23
Hi @sem-soft
The latest commit (master branch) should fix your issue.
Could you confirm?

Thx.

[2017-11-11 14:45] juban commented on #22
Hi @mythicallage

I've made some improvements to cover more hasOne scenarios.
Could you tell me, based on the latest unstable commit in the master branch that there are no regressions on your side?

Thx.

[2017-11-11 14:51] #15 closed

[2017-11-11 15:29] sem-soft commented on #23
@juban I ran some autotests and my logs is clear. looks like this issue was resolved by your commits.
More detail tests i will hold as soon as possible. Waiting for release to packagegist.

Good work and thank you!

[2017-11-11 16:36] juban commented on #23
@sem-soft That's good news. I'm waiting for one more feedback and version 1.4.0 will be good to go very soon I hope. Thank you for your help and support.

[2017-11-11 16:46] sem-soft commented on #23
@juban did you test an update cases? I catch this error when updates my hasOne.
[code]

[2017-11-11 16:54] sem-soft commented on #23
I got it when tried to ubpdate subChild dependency throw main object.

[2017-11-11 16:55] juban commented on #23
@sem-soft Could you show me the code please?

[2017-11-11 17:02] sem-soft commented on #23
@juban Main - Child - SubChild case is the same. I do this:
$main = Main::findOne(1);

$childrens = $main->childrens;

$child = $main->childrens[0];
$child->subChild->name = 'Some new Name';

$childrens[] = $child;

$main->childrens = $childrens;
$main->save();

Try to change $subChild instance throw dependencies from $main instance

[2017-11-11 17:48] sem-soft commented on #23
Or do (in my case):
$main = Main::findOne(1);

$childrens = $main->childrens;

$child = $main->childrens[0];
$child->name = 'New Child Name';
$child->subChild = SubChild::create(/* params*/);

$childrens[] = $child;

$main->childrens = $childrens;
$main->save();

[2017-11-12 17:11] sem-soft commented on #23
@juban I see this line in info log:
[code]

In some case, behaviour sets null for primary key...

[2017-11-15 19:18] mythicallage commented on #22
Hi @juban .

It works fine. Thank you.

[2017-11-16 07:40] juban commented on #22
Thx.

[2017-11-16 07:40] #22 closed

[2017-11-16 07:43] juban commented on #23
Hi @sem-soft

The nested model update bug is a bit more tricky than I first thought. I don’t have much time right now to work on it but I will keep you informed as soon as I can.

Thx.

[2017-11-16 20:14] sem-soft commented on #23
Hi @juban

I will be wait it

Thx.

[2018-02-19 09:44] dabkhazi opened #24 "hasOne Relation before validate event don't fired"
Hello!
Thank you for your work!

I found a little issue. If i defined relation as hasOne, then child relation don't fire before validate event. Change relation to hasMany and all is ok.

[2018-02-19 12:29] juban commented on #24
Thank you for reporting.
I'll take a look as soon as possible.

[2018-02-21 13:29] SanChes-tanker opened #25 "Many-to-many relation stopped working after updating Yii2 to 2.0.14"
After updating Yii2 to 2.0.14 my Many-to-many relation stopped working.
I returned my yii2 to 2.0.13.1 (as I used to work before), and relation continued to work.

[2018-02-21 15:13] juban commented on #25
Active Record relations have been updated in a significant manner in the 2.0.14 release and could have some sides effects on the behavior.
I will take a look as soon as possible to hopefully make it work with the new release.

[2018-02-21 15:15] juban commented on #25
See http://www.yiiframework.com/news/165/yii-2-0-14-is-released/

[2018-02-21 16:02] alexanderYakovenkoUkr commented on #25
Ok :) Thanks for your behavior and so quick response. let me know when it will be possible to upgrade to 2.0.14 and check the operability

[2018-02-22 11:27] juban commented on #25
Issue has been fixed. New Active Record mechanism that refresh outdated relations after save as described [here](https://github.com/yiisoft/yii2/issues/14233) prevented the behavior to retrieve the updated values.

[2018-02-22 11:27] #25 closed

[2018-03-04 14:58] juban commented on #24
Fixed in 1.4.1 release.

[2018-03-04 14:58] #24 closed

[2018-03-12 12:41] dabkhazi opened #26 "updated values of the relations cannot be correctly accessed in the afterSave method of the master model"
Hello!
I don't know exactly is this a bug or not but will try explain my problem.
Suppose we have Orders and OrderItems.

Orders:

class Order ... {

 ....

public function behaviors()
    {
        return [
			.....
            [
                'class' => SaveRelationsBehavior::class,
                'relations' => [
                    'orderItems'
                ]
            ],
			.....

[2018-03-12 16:47] juban commented on #26
Could you specify the Yii2 Framework version you are using please?

[2018-03-12 17:07] juban commented on #26
I guess you are using Yii 2.0.14 or later.
Be aware that with this version, Yii is resetting relations after it saves the master record.
The behavior is saving the relations during the afterSave event which is triggered after the afterSave method of the master model. Due to current limitations, that's why you don't get the right count.
I will try to find a way to access the correct relations value

[2018-03-12 17:22] juban commented on #26
@dabkhazi Forget what I said. I did a couple of tests and could not reproduce your issue.
Are you using the latest version of this behavior?
If you are using it with Yii 2.0.14 or later, please upgrade to version 1.4.0 or later. Thanks.

[2018-03-12 18:45] dabkhazi commented on #26
I am using yii 2.0.14.1 and 1.4.1 behavior

пн, 12 марта 2018 г., 20:22 Alban Jubert <notifications@github.com>:

[2018-03-12 19:27] juban commented on #26
Ok. Could you try to provide some test case please?
For instance, the way you set the orderItems relation.
Thx.

[2018-03-12 19:37] dabkhazi commented on #26
I found the reason of that. My test Order class has method addItems:

    public function addItems(array $items)
    {
        $this->orderItems = array_merge($this->orderItems,$items);
    }

I fixed my problem, added this code before invoke above method:
$order->orderItems = [];
$order->addItems(OrderItem[]);  // simplified code

but can't understand why this helped

[2018-03-13 07:52] juban commented on #26
@dabkhazi
Glad to know you found a workaround.
And thank you for using this behavior :)

[2018-03-13 07:52] #26 closed

[2018-04-18 00:33] DaveFerger opened #27 "attributeBehavior for primarykey reset populated hasmany relations"
i have a UniquIdBehavior for id (primary key)

this reset populated relations, after https://github.com/yiisoft/yii2/pull/13618 pr merged:

[code]

[2018-04-18 06:30] juban commented on #27
Hi,

Thank you for your report but could you elaborate a bit?
Are you referring to issue #25 ?
If so, you should upgrade to the latest version of the behavior in order to work with Yii2 2.0.14 and later.
If not, could you give a use case scenario where that’s not working?

Thanks.

[2018-04-21 14:51] juban commented on #27
I'm closing this issue.
Feel free to reopen it if have additional informations.
Thanks.

[2018-04-21 14:51] #27 closed

[2018-04-29 20:32] omnicore01 opened #28 "Delete relation on array field postgresql"
I have array field with ids of 3 related items and hasMany relation. Then I delete one of them and
when I try to save the model it is deleted. I think the problem is in the method $model->unlink($relationName, $initialModels[$key], true). Since there is no via table and a parameter $delete is true it deletes the parent model.

[2018-04-30 09:15] juban commented on #28
Hi @omnicore01,

Well, if your related data is directly linked to your master model (ie. not linked in a "many to many" way), that's the intended result.
Why would you want to keep an orphan record with no master record linked to it?
Could you elaborate a bit more on you specific use case?

Thanks.

[2018-05-17 20:14] #28 closed

[2018-07-09 14:42] wtfmrpresident opened #29 "Trying to set ID of parent model to null"
Hello!

https://monosnap.com/file/BV4PyFdUKuOLvhoj6K3a06wNKcqpPS

I have a problem with saving parent model. When I specifying relation on line SaveRelationBehavior:253 behavior replace primary key of main model and set foreign key of related model.
`foreach ($relation->link as $relatedAttribute => $modelAttribute) {
    if ($model->{$modelAttribute} !== $model->{$relationName}->{$relatedAttribute

[2018-07-09 14:43] inspector-who commented on #29
`if ($model->{$modelAttribute} !== $model->{$relationName}->{$relatedAttribute} && !empty($model->{$relationName}->{$relatedAttribute})) {`

[2018-07-11 06:30] juban commented on #29
Hi,

What’s breaking saving process is that your id field is not meant to store null value at a database definition level. Also, setting a primary key to null doesn’t make much sense to me. So, not a behavior issue.

Thanks.

[2018-07-11 06:30] #29 closed

[2018-07-22 14:15] phrakon opened #30 "Strange behavior saving newly created hasOne entity"
I have a Profile Model. The model saved into database and has an ID. It has relation
public function getPerson()
    {
        return $this->hasOne(Person::className(), ['user_id' => 'user_id']);
    }
Both user_id are primary key (One to One). But no person record exists.
Of course a have no
<?php echo $form->field($model, 'person[user_id]')->hiddenInput(); ?>
line in the view file

Then i save t

[2018-07-22 16:55] phrakon commented on #30
[tt.zip](https://github.com/la-haute-societe/yii2-save-relations-behavior/files/2217210/tt.zip)

[2018-08-06 11:51] juban commented on #30
@phrakon Thank you for the detailed report.
I'm working on it.
That will be fixed in the upcoming release.

[2018-08-06 12:42] juban commented on #30
@phrakon That should be fixed now. Thx.

[2018-08-06 12:42] #5 closed

[2018-08-06 12:49] juban commented on #23
Hi @sem-soft,

Sorry for the loooooooong delay here ;)
The latest release implements some enhancements regarding nested relations saving.
You will find some examples in the test cases named `testSaveNestedModels`, `testUpdateHasOneNestedModels` and `testUpdateHasManyNestedModels`.
I'm aware that's far from perfect but I will try to figure a better way to handle that in the future.

Thank you for y

[2018-08-08 14:53] phrakon opened #32 "Validation trouble"
if i use input form like
[code]

i didn't watch validation errors.

i found out that your method has to be like

[code]

it helps to render any error for related inputs.
How is the right way to build form-field statement and validate input data in my case?

[2018-08-08 15:24] phrakon opened #33 "Can't set virtual attribute for ActiveRecord"
My ActiveRecord class has the attribute

[code]
But i have got an error "Failed to set unsafe attribute 'agree' in 'app\models\user\Profile'."

I found out we have to set scenario here if scenario provided by behavior
https://github.com/la-haute-societe/yii2-save-relations-behavior/blob/5e2fe7925a3670139391f2b143176077befd24a0/src/SaveRelationsBehavior.php#L255

Anyway it helps me to work/ Isn't i

[2018-08-08 15:41] sem-soft commented on #23
Hi @juban,

Thanx for answer, i'l see this tests.

[2018-08-09 07:38] phrakon commented on #33
Update. There is no sense depends on type of the attribute. Scenario should be applied before assigning attributes (after object will be instatiated to be sure in the future) because setAttributes checks safe ability of attributes depends on current scenario. You do it before validate. Its too late.

[2018-08-09 11:51] juban commented on #32
Hi @phrakon,

I'm wondering why don't you use models and the validation errors from the related models directly in your forms?
That way, you will even benefit from the client side validations.

[2018-08-09 16:55] juban commented on #33
Hi @phrakon,

Yep, you’re right.
Bug fix is on its way. The master branch contains a first fix but there’s still one issue. I will hopefully publish the full fix tomorrow.

Thanks.

[2018-08-10 08:39] #33 closed

[2018-08-10 08:51] juban commented on #32
Hi @phrakon,

Let me clarify my somewhat terse previous comment ;)

In your case, you could do something like:
[code]
By doing so, you will get all the validations data directly from the related model including error messages if any (you will just have to deal with setting a new profile model in your view in case the relation is empty).
Error messages affected to the related named attribute on the

[2018-08-10 08:51] #32 closed

[2018-08-10 09:05] phrakon commented on #32
Let me time to check all the possibilities :).

[2018-08-10 09:16] phrakon opened #35 "append a new entity to a multiple relation via $model->emails[] = 'test@test.com'"
I suggest to append the feature in the future. I think it would be useful.

[2018-08-10 10:13] phrakon commented on #32
In your case i have to override ActiveForm::validate() method to perform ajax errors or use ActiveForm::validateMultiple for main and related models. Because the internal _addError method inject an error message to main model only. So, i want to achive the goal that show an error message nearby any input field any related model but not at the end of their list.

[2018-08-10 13:47] juban commented on #30
Hi, I reopen that issue as the fix in 1.5.0 introduced a serious regression.

[2018-08-10 14:51] phrakon commented on #32
I don't know how to implement ajax validation in your case. _addError method inject an error message to main model. I should override ActiveForm::validate or pass all models to it... Have no idea to do that.

[2018-08-10 15:06] #30 closed

[2018-08-10 15:25] juban commented on #35
Hi @phrakon,

I'm afraid that won't be possible because setting a relation value is done through PHP magic setters.
Setting new relations that way won't work due to PHP limitations.
However, you could workaround that doing something like:
[code]
Another possibility would be to create a new method that could do that. I will think about it.

Thanks.

[2018-08-10 16:04] juban commented on #32
`ActiveForm::validate` accept multiple models as arguments. So you could do something like:
`ActiveForm::validate($model, $model->profile);`. It will populate the response with the according validation messages for each attributes.

[2018-08-10 19:57] phrakon commented on #35
It's so strange. I was doing the same behavior via ArrayObject. And it worked...

[2018-08-11 09:48] juban commented on #35
@phrakon I'm curious about ArrayObject. Could you elaborate a bit? How would you do that exactly?

[2018-08-24 08:20] juban opened #39 "Auto start transactions capability"
Let the behavior start transactions automatically based on a behavior global property (see #38)

[2018-08-25 13:55] dragonabv opened #40 "Updating multiple records in nested related model"
*Scenario :*

    $scenarios[self::SCENARIO_SAVE_STEP_2] = ['company', 'address', 'vehicles', 'id'];

*Behavior :*
[code]

*example :* In User Model,
[code]

*Payloads,*
[code]
----------------------------------------------------

*This is working:*

    1. New record save for hasOne relation, when primary key is given blank.

    2. New data for Nested relation hasMany, data is saving.

*This is

[2018-08-28 07:04] juban commented on #40
Hi @dragonabv,

Thank you for the report. For now, the behavior have limited support for nested relations (see #23). Anyway, I will try to take a look at your use case as soon as I can. Thanks.

[2018-08-28 08:53] abhimanusharma commented on #40
Hi @juban ,

I have already saw those test cases. They are not working as they should. Hope you will fix the bug and update it in next release. Thanks.

[2018-08-30 16:51] #39 closed

[2018-08-31 12:43] leandrogehlen commented on #39
This feature was not implemented.
Can i build the PR for it?

[2018-08-31 13:43] juban commented on #39
I'm wondering if that's still relevant as the transaction process is now fully handled natively by the ActiveRecord. I mean, if the transaction method is defined for the master model, it will start the transaction accordingly. I would not want to overload the behavior with a feature that already exists.

[2018-09-10 15:16] juban opened #42 "Add the ability to retrieve old relations values"
Like ActiveRecord `getOldAttribute` and `getOldAttributes` methods, add `getOldRelations` and `getOldRelation` methods to retrieve relations values prior to their most recent modification.

[2018-09-11 07:29] juban opened #43 "Add the ability to retrieve and mark dirty relations"
Add `getDirtyRelations` and `markRelationDirty` methods in order to get modified relations since their loading and force a relation as dirty.

[2018-09-12 16:39] #43 closed

[2018-09-12 16:39] #42 closed

[2018-11-03 10:44] toreonify commented on #23
Hi everyone!
I've been struggling with the same problem, trying to save nested models in one query. And I found some way to deal with it.

**So, here's what I found:**
When Yii receives REST query or query from Form model, it loads model data with load() method. And because SaveRelationsTrait overrides load() method, it then loads relations with loadRelations() method and fills related models with

[2018-11-03 17:35] juban commented on #23
Hi @toreonify,

Looks pretty good to me.
I will test that and add related unit tests.

Thank you for your contribution.

[2018-11-11 15:30] juban commented on #23
@toreonify,

Works great. I've added related unit tests and everything seams fine.
I'll push a fix soon.

Thank you 👍

[2018-11-11 15:35] juban commented on #23
Hi @sem-soft. I will close that issue.
Please, feel free to reopen it if the latest fix doesn't work in your use case.

[2018-11-11 15:35] #23 closed

[2018-11-11 15:37] juban commented on #40
Hi @dragonabv,
I think lastest fix will work as intended in your use case.
Please, feel free to reopen that issue if that's not the case.

[2018-11-11 15:37] #40 closed

[2019-03-29 03:55] douglasgsouza opened #45 "hasOne relation not rollback when owner model is not valid and relation are inserted"
The hasOne relationships are saved and inserted in beforeValidate and if owner model not inserted due to validation error hasOne inserted relations not rollback.

How to Test:

In model Project, name attribute is required and if you don't set name, $project->save() will be failed, but company record willl be inserted in database.

public function testSaveNewHasOneRelationShouldSucceed()
    {

[2019-03-29 17:16] juban commented on #45
Did you activate the transaction on your owner model?
If not, that’s mandatory in order to correctly rollback related models.

[2019-04-02 12:58] douglasgsouza commented on #45
Yes. I used transactions() OP_ALL on owner model.

See more detailed:

Owner Model:
`<?php
namespace app\models;

use lhs\Yii2SaveRelationsBehavior\SaveRelationsBehavior;
use yii\behaviors\OptimisticLockBehavior;
use yii\db\ActiveRecord;

/**
 * This is the model class for table "sale".
 *
 * @property int $id
 * @property string $sale_date
 * @property string $contract
 * @property int $customer_

[2019-04-02 13:08] douglasgsouza commented on #45
Yes. I used transactions() OP_ALL on owner model.

See more detailed:

Owner Model:

[code]

Related Model:

[code]

Test:

[code]

Program Execution Steps

$sale->save();
SaveRelationsBehavior->beforeValidate()
SaveRelationsBehavior->beforeValidate()->_prepareHasOneRelation()
SaveRelationsBehavior->beforeValidate()->_prepareHasOneRelation()-> call related save();
SaveRelationsBehavior->beforeVali

[2019-05-30 10:25] ivan-cc opened #46 ""private" replace with "protected"."
Now some properties and methods are declared as "private". It does not allow to expand the behavior.

I suggest instead of "private" to use "protected".

[2019-06-22 13:40] juban commented on #45
Hi @douglasgsouza
The issue should be fixed by 1.7.2 release.
Thank you for your patience and support.

[2019-06-22 13:40] #45 closed

[2019-06-26 16:37] ptheofan opened #48 "Junction Table Extra Columns forces delete/insert on existing records"
A common usecase is junction table holds created_at column. The current implementation forces deletion and re-insert of rows when extraColumns is used
![image](https://user-images.githubusercontent.com/880939/60198078-14286a80-9841-11e9-8506-a1b535568235.png)

There should be an option to bypass this behaviour and create only the new rows whilst using the extraColumns.

[2019-07-14 13:17] papppeter opened #49 "usage question maybe a bug?"
hi,

i just cannot find out how this is working. i did put it in my project, did set up as an document, but it is just not working. i did recognised some parts which could be buggy, but of course if it works for everyone else, than the problem will be with me.

if i add new line here :

protected function _setRelationForeignKeys($relationName)
    {
        /** @var BaseActiveRecord $owner */

[2019-07-14 13:35] papppeter commented on #49
if i see it right:

                        if ($relation->multiple === false) {
                            $this->_prepareHasOneRelation($model, $relationName, $event);
                        } else {
                            $this->_prepareHasManyRelation($model, $relationName);
                        }

this two method should add the fks to the related models. but _prepareHasManyRelation

[2019-07-16 13:06] papppeter commented on #49
Hi,

this was my fault. we created some short cuts for hasMany relation to get first record -> hasOne . and of course it was not working.

my only question is now, if a fk is required rule sets it required can this widget handle it? or required should be removed?

[2019-07-16 13:49] juban commented on #49
Hi,

As stated in the extension documentation:

`For relations not involving a junction table by using the via() or viaTable() methods, you should remove the attributes pointing to the owner model from the 'required' validation rules to be able to pass the validations.`

So basically, yes, it should be removed prior to model saving.

Feel free to reopen the issue if you have other questions in ord

[2019-07-16 13:49] #49 closed

[2019-07-17 14:03] papppeter opened #50 "feature request - work only existing models, or create new"
Hi,

i have a scenario where i would like to work on huge form saved by this behavior. My only problem is i need to put the ids on the form for multi input if i would like to keep old records, and not always delete and create new ones.

what if somebody is overwriting id-s in hidden input than this behaviour will try to load it from db with that id. It could happen the user receives data which the

[2019-07-31 09:00] papppeter opened #51 "1:1 connection - feature request"
Hi,

do you see a solution where it could work with 1:1 connections as well?

i have a table: product (primary key product_id)
and product_coupon (primary key product_id)
and product_room (primary key product_id)

product_coupon, product_room are extending product base info.

what do you think?

[2019-08-06 06:02] papppeter opened #52 "hasOne relation via() is not working as expected"
it creates new linking all the time, if i am populating it from a POST.

becouse of this: (line 279)
`        $relationModel = null;
        if (!empty($fks)) {
            $relationModel = $modelClass::findOne($fks);
        }`

it creates a new instance
than (line 664)
`if ($this->_oldRelationValue[$relationName] !== $owner->{$relationName}) {`
will be false all the time. it links again, wheneve

[2019-11-13 07:57] Sirgalas opened #56 "Error Unable to link models: the primary key of"
You have an error from 384 to 386 lines.
[code]

What's the point? With such a relations
[code]
if the parent class has properties primarykey (in your example on the main page Project ) the same as the relation class (in your example on the main page Company ) then your behavior will work.
But if in Project establish primaryKey as project_id the will error

 because relation class not save
as for

[2020-02-06 14:46] artemryzhov opened #57 "Nested model changes does not save if parent model not dirty."
I have three level of models:
[code]

I want to change only `prop3` of `model3`, but can not do this, because parent model has no dirty attributes, so nested models does not saves:

[code]

https://github.com/la-haute-societe/yii2-save-relations-behavior/blob/master/src/SaveRelationsBehavior.php#L564

[2020-02-07 13:07] malinink commented on #57
Found same behavior.
I suggest some changes for fixing that.

[2020-03-12 09:00] bemulima opened #59 "Only write, not rewrite"
I have a relation (has many) model and  when saved common model I would like SaveRelationsBehavior only write new record to db. Now SaveRelationsBehavior every time rewriting relations data. This my behavior in model:
[code]

So, how can I do to only writer SaveRelationsBehavior?

[2020-06-01 07:26] #57 closed

[2020-06-09 11:26] g-rodigy opened #60 "Don't work with some relations"
Migration
[code]

Model
[code]

This code don't work, because project_id don't set automatically
[code]

[2020-06-16 16:16] andrey-denisenko opened #61 "Fail when parent model has more than on PRIMARY KEY"
Hello,

In short words:
If my model has more than one PK like 'id' and 'timestamp'.
Then your code is failing here:
[code]

But frankly speaking I'm not sure that bug on your side.
[Thats why I've rised same question on YII2 project](https://github.com/yiisoft/yii2/issues/18108)
And where I described my problem in all details.

If I where you, I would avoid usage of function BaseActiveRecord::isPr

[2020-07-20 14:41] artemryzhov commented on #60
I have the same issue.

This code does not work:

[code]

But this works fine (when id of UserInfo is passed):

[code]

Possible solution is change _loadOrCreateRelationModel function:

[code]

It tries to load relation from the owner model.

@malinink, can you check is it correct, please?

[2020-07-25 19:42] malinink commented on #60
@artemryzhov @g-rodigy
It seems that library does not support one to one reverse relation.
And just using direct relation will solve the deal well.
Is there any strong need of supporting reverse relation?

[2020-07-26 18:28] malinink commented on #60
@artemryzhov You current solution breaks some test, need to check more deeper.

[2020-09-19 22:16] Myks92 opened #64 "Using behavior for relations"
Hi!

You can make the functionality, that can configure relations through behavior?

Before:
[code]

After:
[code]
Now we can call get User and we won't get AR in response.

[2020-09-30 13:47] EdsonRCJ opened #65 "Load relations with Json Data"
This JSON can't be loaded on $model->load(Yii::$app->request->post())... Just with : $model->attributes, but this doesn't load the relations
`
{
   "id":"6",
   "idEscolaridade":"16",
   "descricao":"teste",
   "salario":5500.00,
   "Escolaridades":{
      "id":"16",
      "descricao":"testando"
   }
}
`

I'm using 'jaacoder/yii2-activated' to mapping the attributes, works for the parent model, bu

[2021-02-10 05:38] sokollondon opened #66 "Enh: Аdjust access to save the relation"
Is there such a functional?
For example, I need adjust access. So that only the `admin` could save relation `tags`

[code]

[code]

But relation `tags` save anyway when `$project->save();`

[2021-02-10 10:31] sokollondon commented on #66
I did it as optional feature, see pull request.
**Config**
[code]

That's all. Now only safe relation will be saved.

**Аdjust**
[code]

[2021-02-14 15:57] juban commented on #66
Hi @sokollondon

Thank you for your Pull Request.

I'm wondering why you could not configure relations like this:

[code]

Isn't this would be the same as what you're trying to do in the first place?

[2021-02-14 16:36] juban commented on #66
@sokollondon
OK, I misunderstood what you where trying to do, sorry.
I will probably publish a new major version which will honor the `safe` validation rule as it is a breaking change (as also suggested by @artemryzhov in its previous PR)
I'm not a big fan of adding another property to activate the check, ever for backward compatibility sake, as it should probably be the case by default (my bad).

[2021-02-15 05:21] sokollondon commented on #66
Thanks for the answer @juban =)
1. Why I can't use `behaviors()`
Above, I made a simplified example. Actually I need to use AR fields in the condition
[code]
But in `behaviors()` all AR fields is NULL. Because not set yet.

2. Disadvantages of default validation.
The programmer will have to add each relation in 2 places. In behaviors() and rules(). This makes installation more difficult. I think m

[2021-02-15 10:19] juban commented on #60
@artemryzhov @g-rodigy
I think there is a misunderstanding on how the relations should be created or updated by the behavior.
If an existing relation should be updated, you should provide its id (or primary keys) otherwise a new related record will be created.
This is the intended behavior because we should have a way to create new relations as well as update existing one.

[2021-02-15 10:19] #60 closed

[2021-02-15 11:39] juban commented on #64
@Myks92 The behavior is not designed to define relations, only to save those.
Implementing this to save a few lines (and obviously it's not) looks like a really bad idea to me.

[2021-02-15 11:39] #64 closed

[2021-02-26 00:56] g-rodigy commented on #60
@juban

In my case, I expect a new record will be created, what wrong?
[code]

[2021-03-05 12:02] papppeter opened #68 "unlink and link should also use the via on conditions of the relation"
Hi,

did you know about this issue with link unlink not working as expected on via tables?

https://github.com/yiisoft/yii2/issues/17174

do you have, maybe a solution for this? i don't think so that it will be fixed in yii2 anytime soon.

thanks Péter

[2021-11-08 02:26] raditya-ab opened #70 "Unitentionally triggered afterSave on related model"
So I have a relation between user and documents (one to many), linked by conjunction user_documents. If I create new documents, it will trigger afterSave event on User model. Is that expected?